input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
  }
  input[type=submit] {
    width: 100%;
    background-color: #4A33FF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    text-align: center;
  }
  input[type=submit]:hover {
    background-color: #A499FF;
  }
  div {
    // border-radius: 5px;
  }


.formlayout1
{
    display: flex;
}
.formlayout1label
{
  display: flex;
  gap: 300px;
}
.formlayout2
{
    display: flex;
}
.formlayout2label
{
  display: flex;
  gap: 300px;
}
.formlayout3label
{
    display: flex;
    gap: 288px;
}

.howitworks
{
    display: grid;
    padding-top: 6rem;
    height: 350px;
    width: 100%;
    background-color: #f5f1f1;

    h1 
    {
      color: #1d00ff;
      font-size: 42px;
      text-align: center;
      font-weight: 900;
    }

    span 
    {
        margin-top: -80px;
    }
}

form
{
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding: 0rem 20rem 0rem 20rem;
   width: auto;
}

.form 
{
  h1 
  {
    color: #1d00ff;
    font-size: 42px;
    text-align: center;
    font-weight: 900;
  } 
  
  p 
  {
    color: #000;
    font-size: 20px;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  // .formlayout1,
  // .formlayout2,
  // .formlayout3label {
  //     display: block;
  //     gap: 200px;
  // }

  .formlayout3label 
  {
    display: flex !important;
    gap: 69px
  }
  .formlayout2label
  {
    display: flex !important;
    gap: 80px;
  }
  .formlayout1label
  {
    display: flex;
    gap: 80px;
  }
    .form h1 
  {
      font-size: 28px;
      margin-top: -10px;
  }

  .form p {
      font-size: 16px;
  }

  form {
      padding: 0rem 1rem; /* adjust as needed */
      width: auto;
      // display: grid;
  }

  input[type=text], select {
      font-size: 13px; /* adjust as needed */
  }

  
.howitworks
{
    display: grid;
    padding-top: 6rem;
    height: 250px;
    // width: 390px;
    background-color: #f5f1f1;

    h1 
    {
      color: #1d00ff;
      font-size: 28px;
      text-align: center;
      font-weight: 900;
    }

    span 
    {
        margin-top: -40px;
        font-size: 18px !important;
    }
}
}
